.card{
    border: solid 1px;
    min-width: 200px;
    height: 280px;
    border-radius: 5px;
    margin:10px;
    background-color: #4fa5d8;
}

img{
    margin:5px;
    padding: 0;
    width:auto;
    height:150px;
    width:120px
}


h1{
    padding:2px;
    margin:0;
    /* border-top: solid 1px; */
    /* border-bottom: solid 1px; */
}

p{
    padding:5;
    margin:0;
    
}

.delete-icon{
    position: relative;
    bottom: 135px;
    left:150px;
    cursor: pointer;
}

.actions{
    padding :10px;
    /* border-top: solid 1px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.actions button{
    border-radius: 3px;
}