@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.html{
  background-color: #3e82bd;
}

.App {
  text-align: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background: url("https://images.pexels.com/photos/1050244/pexels-photo-1050244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5em;
  color: white;
  margin-right: 0.22em;
  margin-left: 0.22em;
  border-radius: 0.1em;
}


.card-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 30px;
  justify-content: center;
  background-color: #daeaf7;
  height: 100%;
  margin: 1em;
  padding: 1.5em;
  border-radius: 0.3em;
}

@media screen and (max-width: 850px){
  .card-container{
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 606px){
  .card-container{
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 1100px){
  .card-container{
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (min-width: 1500px){
  .card-container{
    grid-template-columns: auto auto auto auto auto;
  }
}

.section-container{
  display: flex;
  flex-direction: row;
  background-color: #010e54;
}

.section{
  width:50%;
  border:solid 1px;
  border-radius: 5px;
}

.section-heading{
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
}

.noItemsmsg{
  margin-top : 50%;
  margin-bottom:50%
}

button{
  cursor: pointer;
    padding:5px;
    border-radius: 5px;
    background-color:#076da8;
    color: aliceblue;
}

button:active{
  background-color:#45bbff;
}

.nav-container{
  display:flex;
  justify-content: space-between;
  background-color: #076da8;
  margin: 1em;
  border-radius: 0.3em;
  color: aliceblue;
}

.nav-title{
  font-size: 1.5em;
  margin:1em;
}

.nav-link-container{
  display:flex;
}

.nav-link{
  margin:1em;
  list-style: none;
  cursor: pointer;
  color: aliceblue;
}

.nav-link:hover{
  color: aquamarine;
  text-decoration: underline;
  transition-delay: 100ms;
}

.nav-link-selected{
  margin:1em;
  list-style: none;
  cursor: pointer;
  color: aquamarine;
  text-decoration: underline;
}
