.html{
  background-color: #3e82bd;
}

.App {
  text-align: center;
  align-items: center;
}

.App-header {
  background-color: #010e54;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 80px;
  color: white;
}


.card-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 30px;
  justify-content: center;
  background-color: #daeaf7;
}

.section-container{
  display: flex;
  flex-direction: row;
  background-color: #010e54;
}

.section{
  width:50%;
  border:solid 1px;
  border-radius: 5px;
}

.section-heading{
  background-color: cadetblue;
}