.html{
  background-color: #3e82bd;
}

.App {
  text-align: center;
  align-items: center;
}

.App-header {
  background: url("https://images.pexels.com/photos/1050244/pexels-photo-1050244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 80px;
  color: white;
}


.card-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 30px;
  justify-content: center;
  background-color: #daeaf7;
  height: 100%;
}

.section-container{
  display: flex;
  flex-direction: row;
  background-color: #010e54;
}

.section{
  width:50%;
  border:solid 1px;
  border-radius: 5px;
}

.section-heading{
  background-color: cadetblue;
  display: flex;
  justify-content: space-around;
}

.cart-placeholder{
  margin-top : 50%;
  margin-bottom:50%
}

button{
  cursor: pointer;
    padding:5px;
    border-radius: 5px;
    background-color:#076da8;
    color: aliceblue;
}

button:active{
  background-color:#45bbff;
}